<!DOCTYPE html>
html(lang="en")
    head
        include partials/header
    body.login
        .contenedor-formulario
            h1= nombrePagina
            p Introduce tu contraseña nueva

            if locals.mensajes
                .alertas
                    each categoria in Object.keys(locals.mensajes)
                        each msj in mensajes[categoria]
                            .alerta(class=`${categoria}`) #{msj}
            form.caja-login(method="POST")
                .campo
                    label(for="password") Password
                    input(type="password" name="password" id="password" placeholder="Ingresa tu password")
                .campo.enviar
                    input.boton(type="submit" value="Restablecer contraseña")
