<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./styles.css
    body
        h1 Confirma tu cuenta
        p Bienvenido a UpTask, estas a un solo paso de poder disfrutar de los beneficios de nuestra plataforma solo confirma tu cuenta dando click en el siguiente botón.
        a(href=`${confirmacionUrl}`) Confirmar tu cuenta
        p Si no puedes acceder al enlace visita #{confirmacionUrl}
        p Si no solicitaste unirte a nuestra plataforma puedes ignorar este email.