<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        style
            include ./styles.css
    body
        h1 Restablecer password
        p Haz solicitado restablecer tu contraseña, haz clic en el boton para proceder con el cambio y recuerda que este es único y temporal así que si tardas mas de 24hrs vuelve a solicitarlo.
        a(href=`${urlReset}`) Ir a resetear la contraseña
        p Si no puedes acceder al enlace visita #{urlReset}
        p Si no solicitaste ningún cambio puedes ignorar este email.